<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% extends "blog/base.html" %}

    {% block title %} Share a post {% endblock %}

    {% block content %}
        {% if sent %}
            <h1>E-mail successfully sent! </h1>
            <p>"{{ post.title }}" was successfully shared to {{ form.cleaned_data.to }}.</p>
            <a href="{% url 'blog:post_detail' post.publish.year post.publish.month post.publish.day post.slug  %}">trial</a>
            | <a href="{{ post.get_absolute_url }}">Back (Using get_absolute method)</a>
        {% else %}
            <h1>Share '{{ post.title}}' by e-mail</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send e-mail">
            </form>
        {% endif %}
    {% endblock %}
</body>
</html>